# folders
# =======
bower_components/
dist/
logs/
node_modules/
pids/
typings/

# dot files
# =========
.*.swp
._*
.DS_Store
.git
.lock-wscript
.npm
.node_repl_history
.svn

# file extensions
# ===============
*.db
*.log
*.map
*.orig
*.pid
*.seed
*.sublime*
*.tgz
*.tmp

# files
# =====
npm-debug.log*